.btn {
  font-family: "Inter";
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28.8px;
  line-height: 35px;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--black);
  margin-bottom: 12px;
}

.item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--rightgrey);
}

.singer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--rightgrey);
}

.song {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

span .item {
  color: var(--rightgrey);
}

.player_controller .song {
  color: white;
}
